
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    text-decoration: none;
    list-style: none;
}
body{
    background-color: black;
}
.name{
    font-size: 2rem;
    color: red;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}
.name:hover{
    color: rgb(252, 249, 249);
    text-shadow: 0 0 25px white;       
    transform: scale(1.1);
}

.header {
    position: fixed;
    background-color: #2f2c2c;
    top: 0;
    left: 0;
    width: 100%;
    height:70px;
    padding: 35px 12%;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    
}
.navbar a {
    font-size:18px;
    font-weight: 500;
    color:white;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;

}
.navbar a:active,
.navbar a:hover{
    color: red;
    text-decoration: underline;
    
}

.con
{
    padding: 10px 28px;
    background-color: rgb(241, 36, 36);
    color: black;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.2s ease;
    margin-right: 40px;
}
.con:hover
{
    background-color: rgb(255, 243, 243);
    box-shadow: 0 0 25px rgb(224, 219, 219);
}
span {
    color: red;
}
#about
{
    width: 100%;
    min-height: 100vh;
    background: black;
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 30px 12% 0;
}
.aboutcontent
{
    max-width: 800px;
}
.aboutcontent h3{
    color: white;
    font-size: 42px;
}
.aboutcontent h1{
    color: white;
    font-size: 62px;
    
}
.aboutcontent p{
    color: white;
    font-size: 18px;
    margin: 25px 0 30px;
}
.imagebox img{
    border-radius: 50%;
    width: 340px;
}

#skills
{ 
    text-align: center;
    padding: 10px;
    margin-top: 70px;
}
#skills h1 {
        margin-top: 80px;
        color: rgb(236, 10, 10);
       
    }
    
#skills h2 {
        color: red;
        margin-top: 20px;
    }
    
    
#skills p {
        font-size: 1.2em;
        margin: 10px;
        color: rgb(255, 249, 249);

}

#projects
{ 
    text-align: center;
    padding: 20px;
    margin-top: 60px;
}
.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive grid */
    gap: 2rem;
}

.project {
    border: 1px solid #f9f6f6;
    padding: 1rem;
    border-radius: 8px;
    width:100%;
    padding: 30px;
}
#projects h1 {
    margin-top: 80px;
    margin-bottom: 50px;
    color: rgb(236, 10, 10);
    font-size: 3rem;
    
}

#projects h2 {
    color: red;
    margin-top: 20px;
}


#projects p {
    font-size: 1.2em;
    margin: 10px;
    color: rgb(254, 251, 251);

}



#contact
{ 
   
    text-align: center;
    padding: 40px;
    margin-top: 70px;
}
#contact h1{
    margin-top: 110px;
    margin-bottom: 50px;
    color: white;
    font-size: 3rem;
    
}
#contact p{
    font-size: 1.2em;
    margin: 10px;
    color: white;
}
#contact a{
    color: red;
    font-size: 1.2em;
}